gradio>=4.0.0
streamlit>=1.28.0
openai>=1.0.0
python-docx>=1.0.0
autogen-agentchat==0.6.1
autogen-core==0.6.1
autogen-ext==0.6.1
python-dotenv>=1.0.0
openai-agents==0.4.2
lightrag-hku==1.4.9.7
nltk==3.9.2
rouge==1.0.1
langchain==1.0.3
langchain-text-splitters==1.0.0
python-dotenv==1.1.0
torch>=2.0.0
sentence-transformers>=2.2.0
numpy<2.0.0
